language: node_js
sudo: false
node_js:
   - '6'
env:
   - BROWSER="phantomjs"
   - BROWSER="chrome"
   - BROWSER="firefox"
   - BROWSER="internet explorer"
   - BROWSER="safari"
branches:
   except:
      - /^feature\/.*$/
notifications:
   irc:
      channels: "chat.freenode.net#laxarjs"
      template: "%{repository_slug} (%{commit}) [%{branch}]: %{message}"
